.formvalidator {
	& .formvalidator-message {
		display: none;
		margin-top: 0.25rem;
	}

	&.show-formvalidator {
		& .formvalidator-message {
			color: red;
			display: block;
		}

		& label.formvalidator-fail {
			color: red;
		}

		& input.formvalidator-fail {
			border-color: red;
		}

		& label.formvalidator-pass {
			color: green;
		}

		& input.formvalidator-pass {
			border-color: green;
		}
	}
}
