.make-text-field {
	&>.make-text-field-title {
		display: block;
		font-weight: bold;
		margin-bottom: 0.25rem;
		width: 100%;
	}

	&>.make-text-field-prehelptext {
		color: #666666;
		margin-bottom: 0.25rem;
	}

	&>.make-text-field-input {
		border: 1px solid lightgrey;
		border-radius: 0.25rem;
		box-sizing: border-box;
		display: block;
		font-size: 0.875rem;
		line-height: inherit;
		padding: 0.5rem;
		width: 100%;

		&[disabled],
		&[readonly] {
			background-color: #efefef;
			cursor: not-allowed;
		}

		&[disabled] {
			color: darkgrey;
		}

		&[readonly] {
			color: black;
		}
	}

	&>.make-text-field-posthelptext {
		color: #666666;
		margin-top: 0.25rem;
	}
}
