.make-section {
	margin-bottom: 1rem;
	margin-top: 1rem;

	&>.make-section-title {
		background-color: #efefef;
		border-color: lightgrey;
		border-style: solid;
		border-width: 1px 1px 0 1px;
		border-radius: 0.5rem 0.5rem 0 0;
		margin-bottom: 0;
		margin-top: 1rem;
		padding: 0.5rem 1rem;
	}

	&>.make-section-rows {
		border: 1px solid lightgrey;
		border-radius: 0.5rem;
		padding: 0 1rem 0.5rem 1rem;
	}

	&>.make-section-title+.make-section-rows {
		border-radius: 0 0 0.5rem 0.5rem;
	}
}
